<div class="container">
		<div class="jumbotron background_cover">
		  <h1 class="text-center">Alpha Blog</h1>
		  <center><%= link_to 'sign up now',new_article_path,class: "btn btn-primary btn-lg btn-lg"%></center>
		</div>
</div>

