nav.navbar.header-section 
	{
	   background: blue;
  }

.navbar-brand
	{
		color: white;
	  font-weight: bold;
	  font-size: 30px;
	}
.jumbotron.background_cover
  {
  	background-image: url('ruby _and_rails.png');
  	background-size : cover;


  }	





